body{
background: linear-gradient(0deg, rgb(205, 129, 235) 0%, rgb(233, 145, 239) 55%);
background-attachment: fixed;
background-size: cover;
}

.principal {
    border-radius: 5%;
    padding: 5%;
    margin: 0 auto;
    height: 300px;
    width: 15%;
    background-image: linear-gradient(to top, #fff0 0%, #fff 100%);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-top: 5%;
}

.epsilon h1 {
    font-size: 4rem;
    color: #000000;
    font-weight: bold;
    margin: 0;
    padding: 0;
    
}

.epsilon p {
    font-size: 1.2rem;
    color: #000000;
}

.epsilon img{
    width: 40%;
    height: 100px;
    margin-top: 5%;
    border-radius: 50%;
}